#root {
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 33px;
    background: rgb(199, 255, 200);
    background: linear-gradient(
        180deg,
        rgba(199, 255, 200, 1) 0%,
        rgba(172, 230, 255, 1) 50%,
        rgba(141, 252, 241, 1) 100%
    );
}

h1 {
    font-size: 80px;
    padding: 20px;
    padding-bottom: 0;
}

select {
    margin: 20px;
    margin-bottom: 0;
    border-radius: 10px;
    padding: 4px;
}

.datos-climaticos {
    margin: 20px;
}

.temperatura {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin-bottom: 0;
}

h2 {
    font-size: 60px;
    margin: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

.input {
    margin: 40px;
}

.table-responsive {
    border: 2px solid black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    margin: 40px;
    margin-bottom: 0;
}
